$nordicBlue:       #00a9ce;
$nordicSky:        #6ad1e3;
$nordicBlueslate:  #0033a0;
$nordicLake:       #0077c8;

$nordicGrass:      #d0df00;
$nordicSun:        #ffcd00;
$nordicRed:        #ee2f4e;
$nordicFall:       #f58220;

$nordicLightgrey:  #d9e1e2;
$nordicMiddlegrey: #768692;
$nordicDarkgrey:   #333f48;
