// This file is imported by index.jsx, and may contain styles for the app.

.core-main-layout > div:nth-child(1) > div:nth-child(1).core-main-view {

    overflow-y: scroll;
}

div.core-main-view {
    user-select: text;
    cursor: auto;

    a {
        cursor: pointer;
    }
}

.checkable {
    display: flex;
    flex-direction: row;

    .checkable-description {
        flex-grow: 99;
        border-left: 10px solid green;
    }
    .checkable-button-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 155px;
        max-width: 75px;
        align-self: center;
        padding-left: 10px;
        .btn {
            margin-left: 0px;
        }
    }
    .checkable-button {
        flex-grow: 1;
        margin: 1px;
        max-height: 2%;
        min-height: 2%;
        border-radius: 0;
    }
}
