// This file is imported by index.jsx, and may contain styles for the app.
@import './colors';

.core-main-layout > div:nth-child(1) > div:nth-child(1).core-main-view {
    height: 100%;
}

.core-nav-bar h4 {
    color: white;
    margin-top: 20px;
}

div.core-main-view {
    user-select: text;
    cursor: auto;
    background-color: white;
    padding: 0;
    position: relative;

    a {
        cursor: pointer;
    }
}

.core-side-panel {
    width: 300px;
}
.course-view {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 17px;
    bottom: 2px;

    > div,  {
        height: 100%;
    }
    .tab-pane:not(.active) {
        display: none;
    }
    .tab-content, .tab-pane.active {
        position: absolute;
        top: 0;
        left: 10px;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 767px) {
        .col-sm-3 {
            width: 10%;
            display: inline-block;
            vertical-align: top;
        }
        .col-sm-9 {
            width: 85%;
            display: inline-block;
        }
        span.recipe-title {
            display: none;
        }
    }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: inherit;
    color: $nordicDarkgrey;
}
.nav-pills.nav-stacked > li + li {
    margin-top: 0;
}
.nav.nav-pills {
    counter-reset: counter;
    > li {
        position: relative;
        overflow: hidden;
        padding-left: 8px;
        min-width: 46px;
        a {
            padding-left: 48px;
            min-height: 40px;
            margin-left: -8px;
            border-radius: 0;
        }
        > a:hover, > a:focus {
            background-color: transparent;
        }
        a.active {
            background-color: $nordicMiddlegrey;
            color: white;
        }
    }
    :focus {
        outline-color: transparent !important;
    }
    > li:hover, > li:focus {
        background-color: $nordicLightgrey;
    }

    i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        margin: auto;
        height: 30px;
        width: 30px;
        background-color: $nordicLake;
        color: white;
        border-radius: 15px;
        text-align: center;
        padding: 5px;
        font-style: normal;
    }
    li:not(:first-child) i::before,
    li:not(:last-child) i::after {
        content: '';
        border-left: 1px solid $nordicLake;
        display: block;
        position: absolute;
        left: 14px;
        height: 50px;
        width: 1px;
    }
    li:not(:first-child) i::before {
        bottom: 30px;
    }
    li:not(:last-child) i::after {
        top: 30px;
    }

    li.marked i {
        background-color: $nordicGrass;
        color: black;
    }
    li.unmarked i, li.in-progress i {
        background-color: $nordicMiddlegrey;
        color: white;
    }
    li.unmarked > a.active i, li.in-progress > a.active i {
        background-color: $nordicLightgrey;
        color: black;
    }
}

.course-pane h3, .recipe-pane h3 {
    margin-bottom: 30px;
    margin-top: 10px;
}

.course-title {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    padding-right: 9px;
    h3 {
        flex-grow: 99;
    }
    span {
        flex-grow: 1;
        .checkall {
            flex-grow: 1;
        }
    }
}

.recipe-view {
    flex: 1;
    overflow-y: scroll;
    padding-right: 15px;
    padding-bottom: 15px;
    .marked {
        background-color: $nordicGrass;
    }
    .unmarked {
        background-color: $nordicMiddlegrey;
    }
    .in-progress {
        background-color: $nordicSun;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 20px 20px;
        animation: progress-bar-stripes 1s linear infinite;
    }
}

.description-view {
    max-width: 800px;
    h4:not(:first-child) {
        margin-top: 24px;
    }
}

.checkable {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 5px lightgrey;
    padding: 10px;
    max-width: 800px;

    ul {
        margin-bottom: 0;
        -webkit-padding-start: 20px;
    }
    .checkable-description {
        flex-grow: 99;
        min-width: 50%;
    }
    .checkable-state {
        width: 10px;
        min-width: 10px;
        max-width: 10px;
    }
}

.checkable-button-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 140px;
    align-self: start;
    padding-left: 10px;
}

.btn-group .btn + .btn {
    margin-left: 0px;
}

.checkable-button {
    flex-grow: 1;
    margin: 1px;
    max-height: 2%;
    min-height: 2%;
    border-radius: 0;
}

.variable:not(:last-child) {
    margin-bottom: 12px;
}

.variable {
    display: block;
    .variable-name, .form-control {
        font-family: monospace;
        display: block;
    }
    .variable-name {
        .mdi {
            margin-right: 10px;
        }
    }
    button.form-control {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .form-control {
        font-weight: bold;
        border-radius: 0;
        padding: 0 5px;
        height: 2em;
        text-align: left;
    }
}

.variable:not(.set) {
    .variable-name {
        color: $nordicRed;
    }
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.deprecated {
    position: relative;
    max-width: 800px;
    height: 95%;
}
.deprecated::before {
    content: "DEPRECATED";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 90pt;
    font-weight: 600;
    opacity: 0.2;
    color: #ffffff;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 50;
    pointer-events: none;
    background: #f58220;
    padding: 0 1rem;
    border-radius: 2rem;
    line-height: 96pt;
}

.alert.alert-warning {
    border-radius: 0;
    z-index: 100;
}
